* {
  margin: 0;
}

.bg-container {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: #000000;
  font-family: 'Roboto';
}

.card {
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  background-size: cover;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 30px;
}

.number {
  color: #0f172a;
  font-size: 28px;
  margin-bottom: 40px;
}

.number-type {
  font-size: 18px;
  color: #334155;
  margin-bottom: 20px;
}

.button {
  width: 80px;
  height: 35px;
  border-radius: 5px;
  border: 0;
  background-color: #ffffff;
  align-self: center;
  margin-bottom: 10px;
}

.para {
  font-size: 12px;
}
